*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
release
debug
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
Makefile.Release
Makefile.Debug
object_script.Milancoin-qt.Debug
object_script.Milancoin-qt.Release
src/milancoind.exe
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
!src/leveldb/Makefile
